/* body{
    background-color: #fff3e3;
    font-family: 'Alegreya Sans SC';
    font-size: 20px;
    margin: 0;
    padding: 0;
} */

h1.soon {
    font-weight: bolder;
}

body {
    background-color: black;
    text-align: center;
    margin-top: 24%;
    color: whitesmoke;
    font-family: 'Alegreya Sans SC';
}