html {
    scroll-behavior: smooth;
}

body {
    background: rgb(224, 219, 200);
    font-family: 'Alegreya Sans SC';
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background 0.7s linear;
}

body.dark {
    background: rgb(59, 59, 59);
    font-family: 'Alegreya Sans SC';
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background 0.7s linear;
}

.head {
    width: 100%;
    height: 200px;
}

/*HEADER*/
.header {
    background-color: #ffffff97;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px 25px;
    position: fixed;
    top: 0;
    z-index: 97;
    margin-bottom: 30px;
    transition: top 0.3s;
}

/*HEADER-LOGO*/
.logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffffbb;
    animation: logo-inv 1850ms forwards;
}

@keyframes logo-inv {
    from {
        transform: translateX(-1000%) rotate(530deg);
        height: 100px;
        width: 100px;
        opacity: 0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    30% {
        transform: translateX(-200%) rotate(270deg);
        opacity: 0.2;
    }

    70% {
        opacity: 0.8;
    }

    to {
        height: 150px;
        width: 150px;
        opacity: 1;
        box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.6);
        transform: rotate(0deg) translateX(0%);
    }
}

/*HEADER-LOGO*/

/*HEADER-TEXT*/
.ret-mainp {
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: black; */
}

.ret-shop {
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: black; */
}

/*HEADER-TEXT*/

/*DARK-LIGHT*/
.dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: 850ms dl-inv 2s forwards;
}

@keyframes dl-inv {
    from {
        opacity: 0;
        transform: translateY(-1000%);
    }

    75% {
        opacity: 0.6;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

:root {
    --bg-color: #cde7ff;
    --switch-width: 100px;
    --switch-height: 45px;
    --switch-round: 50px;
    --switch-padding-x: 5px;
    --switch-bg: linear-gradient(to bottom, #73bbff, #a2d1fd);
    --switch-dark-bg: linear-gradient(to top, #2b3347, #181d27);
    --border-width: 2px;
    --border-gradient: linear-gradient(to bottom, #a2d1fd, #cde7ff);
    --border-dark-gradient: linear-gradient(to bottom, #000000, #6c7384);
    --sunmoon-size: 40px;
    --transition: all 0.5s ease;
}

.switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--switch-width);
    height: var(--switch-height);
    border-radius: var(--switch-round);
    cursor: pointer;
    transition: var(--transition);
    background: var(--switch-bg);
}

.switch::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--switch-round);
    opacity: 0;
    background: var(--switch-dark-bg);
    transition: var(--transition);
}

body.dark .switch::before {
    opacity: 1;
}

.switch .border {
    position: absolute;
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    border-radius: var(--switch-round);
    background: var(--border-gradient);
    z-index: -1;
    transition: var(--transition);
}

.switch .border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--switch-round);
    background: var(--border-dark-gradient);
    opacity: 0;
    transition: var(--transition);
}

body.dark .switch .border::after {
    opacity: 1;
}

.switch input {
    display: none;
}

.sunmoon {
    position: absolute;
    width: var(--sunmoon-size);
    height: var(--sunmoon-size);
    border-radius: 50%;
    transition: var(--transition);
    left: var(--switch-padding-x);
    z-index: 1;
    background-color: #FFC187;
    box-shadow: 0px 0px 11.7px 0px #FFC187, 0px 0px 20px 0px #ffc18768, -2px -2px 5px 0px #ffab5c inset;
}

body.dark .sunmoon {
    left: calc(100% - var(--sunmoon-size) - var(--switch-padding-x));
    background-color: #dee5f3;
    box-shadow: 0px 0px 51.7px 0px #dee5f3;
}

.darkside {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #FFC187;
    transition: var(--transition);
}

body.dark .darkside {
    background-color: #565c6b;
}

.clouds {
    border-radius: var(--switch-round);
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cloud {
    position: absolute;
    width: 60%;
    transition: var(--transition);
}

.cloud-1 {
    bottom: -55%;
    left: 0;
}

.cloud-2 {
    bottom: -45%;
    left: 25px;
}

.cloud-3 {
    bottom: -40%;
    right: 0px;
}

.cloud-4 {
    bottom: -16%;
    right: -25px;
}


body.dark .cloud-1 {
    bottom: -35%;
    left: -110px;
}

body.dark .cloud-2 {
    bottom: -15%;
    left: -110px;
    transition: all 0.7s ease;
}

body.dark .cloud-3 {
    bottom: -15%;
    right: -110px;
}

body.dark .cloud-4 {
    bottom: -5%;
    right: -110px;
    transition: all 0.7s ease;
}

.stars {
    position: absolute;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    transition: var(--transition);
}

body.dark .stars {
    top: 50%;
}

/*DARK-LIGHT*/

/*HEADER-ICO*/

.header a:not(#search) {
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border-radius: 15%;

    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    }
}

.header a#search {
    color: rgb(0, 0, 0);
    padding: 14px 30px;
    margin: 14px 30px;
    border-radius: 15%;
}

.header a#user {
    color: rgb(0, 0, 0);
    margin: 14px 27px;
    border-radius: 15%;
}

.navbar-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    width: 24px;
    height: 24px;
}

.navbar-icons a {
    margin-left: 20px;
}

/*USER*/
@keyframes user {
    from {
        transform: translateY(-1000%);
        opacity: 0;
        scale: 0.8;
    }

    55% {
        opacity: 0.3;
    }

    85% {
        transform: translateY(0%)
    }

    90% {
        scale: 0.90;
        opacity: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes biu {
    from {
        transform: translateY(1000%);
        opacity: 0;
        scale: 0.8;
    }

    55% {
        opacity: 0.3;
    }

    85% {
        transform: translateY(0%)
    }

    90% {
        scale: 0.90;
        opacity: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.user .ico1 {
    display: block;
    max-height: min-content;
    opacity: 0;
    animation: 700ms biu 1s forwards;
}

.user .ico1 i {
    font-size: 27px;
}

.user .user-av:nth-of-type(2) {
    display: none;
}

.user:hover .user-av:nth-of-type(1) {
    display: none;
}

.user:hover .user-av:nth-of-type(2) {
    animation: user 750ms;
    display: block;
}

.user:hover {
    cursor: pointer;
}

/*USER*/

/*SEARCH*/
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

fieldset.search-field {
    border: 0;
    border-radius: 15%;
    width: 35px;
    height: 35px;
    margin: 0 0 0 0;

    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    }
}

.search .search-field i {
    font-size: 27px;
    margin-top: 5px;
    display: inline-block;
    opacity: 1;

    &:hover {
        animation: rotate360 1s;
        cursor: pointer;
    }
}

.searcho {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.s-o-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25%;
}

.searcho .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;

    &:hover {
        color: #ccc;
    }
}

.searcho input[type=text] {
    padding-left: 5px;
    padding-right: 5px;
    height: 45px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    width: 80%;
    background: white;

    &:hover {
        background: #f1f1f1;
    }
}

.searcho button {
    height: 45px;
    width: 90px;
    font-size: 17px;
    border: none;
    background-color: #b88e2f;
    color: white;
    font-weight: 600;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    border-width: 0;
    margin-left: 10px;

    &:hover {
        background: #bbb;
        transform: scale(1.05);
        background-color: #cfa74a;
        cursor: pointer;
    }
}

/*SEARCH*/

/*HEART*/
@keyframes heart-rate {
    from {
        opacity: 0;
        scale: 1;
    }

    15% {
        opacity: 0.2;
        scale: 1;
    }

    25% {
        opacity: 0.4;
        scale: 1;
    }

    40% {
        opacity: 0.5;
        scale: 1.3;
    }

    50% {
        opacity: 0.6;
        scale: 1;
    }

    65% {
        opacity: 0.7;
        scale: 1;
    }

    75% {
        opacity: 0.8;
        scale: 1;
    }

    85% {
        opacity: 0.9;
        scale: 1.3;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

.heart .ico3 {
    display: block;
    height: 25px;
    opacity: 0;
    animation: 400ms heart-rate 2000ms forwards;
}

.heart .ico3 i {
    font-size: 27px;
    position: relative;
    top: -2px;
}

.heart .heart-av:nth-of-type(2) {
    display: none;
}

.heart:hover .heart-av:nth-of-type(1) {
    display: none;
}

.heart:hover .heart-av:nth-of-type(2) {
    display: block;
}

.heart:hover {
    cursor: pointer;
}

/*HEART*/

/*CART*/
@keyframes combinedEffect {
    from {
        transform: translateX(-2000%) skewX(-25deg) scale(1, 1);
        opacity: 0;
    }

    60% {
        transform: skewX(15deg);
        opacity: 1;
    }

    80% {
        transform: translateX(0%) skewX(-7deg) scale(-1, 1);
    }

    to {
        transform: translateX(0%) scale(-1, 1);
        opacity: 1;
    }
}

.cart .ico4 {
    display: block;
    height: 25px;
}

.cart .ico4 i {
    font-size: 25px;
    position: relative;
    top: -2px;
    opacity: 0;
    scale: -1 1;
    animation: 1s combinedEffect 1750ms ease-out forwards;
}

/*CART*/

/*HEADER-ICO*/

/*HEADER*/

/*TO-TOP*/
.scroll-button {
    display: none;
}

.to-top .to-top-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: 0px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    height: 45px;
    width: 45px;
    background-color: rgba(174, 128, 36, 0.82);

    &:hover {
        background-color: rgba(212, 159, 53, 0.785);
    }
}

.to-top .to-top-button.dark {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: 0px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    height: 45px;
    width: 45px;
    background-color: rgba(157, 154, 147, 0.82);

    &:hover {
        background-color: rgba(183, 180, 174, 0.785);
    }
}

.to-top img.totop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50%;
}

.to-top .to-top-button-av:nth-of-type(2) {
    display: none;
}

.to-top:hover .to-top-button-av:nth-of-type(1) {
    display: none;
}

.to-top:hover .to-top-button-av:nth-of-type(2) {
    display: block;
}

.to-top:hover {
    cursor: pointer;
}

img.totop {
    width: 14px;
    height: 34px;
    fill: currentColor;
    display: inline-block;
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0.7;
}

/*TO-TOP*/

/*MAIN*/

/*CHOOSE*/
.choose-buttons {
    height: 750px;
}

.choose-buttons fieldset.field-what {
    position: sticky;
    top: 55px;
    height: max-content;
    width: 400px;
    padding-bottom: 60px;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.choose-buttons fieldset.field-what.dark {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.choose-buttons legend.what {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.choose-buttons legend.what.dark {
    color: whitesmoke;
    text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.6);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.button {
    height: 50px;
    width: 125px;
    border-radius: 25px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
    font-size: 27px;
    font-weight: 900px;
    color: whitesmoke;
    background-color: rgb(207, 167, 74);
    border: solid 2px rgb(0, 0, 0);
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.7);

    &:hover {
        cursor: pointer;
        background-color: rgb(198, 160, 70);
        border: solid 3px rgb(0, 0, 0);
    }

    &:active {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
        transform: translateY(2px)
    }
}

.login.dark {
    background-color: rgb(207, 167, 74);
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 3px rgba(255, 255, 255, 0.7);

    &:hover {
        cursor: pointer;
        background-color: rgb(198, 160, 70);
        border: solid 3px rgb(255, 255, 255);
    }

    &:active {
        box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.7);
        transform: translateY(2px)
    }
}

.signup.dark {
    background-color: rgb(207, 167, 74);
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 3px rgba(255, 255, 255, 0.7);

    &:hover {
        cursor: pointer;
        background-color: rgb(198, 160, 70);
        border: solid 3px rgb(255, 255, 255);
    }

    &:active {
        box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.7);
        transform: translateY(2px)
    }
}

#bott {
    position: relative;
    top: 200px;
}

/*CHOOSE*/
/*FORMS*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*SIGN*/
.forms {
    margin-top: 40px;
    margin-bottom: 40px;
}

fieldset.sign-up {
    margin-top: 20px;
    width: 60%;
    height: max-content;
    margin: auto;
    padding: 15px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

fieldset.sign-up.dark {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

legend.SignUp {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

legend.SignUp.dark {
    color: whitesmoke;
    text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.6);
}

.formSign {
    display: none;
    transition: 0.5s ease-in-out;
}

/*TEXT*/
.forms input[type="text"],
.forms input[type="password"],
.forms input[type="email"],
.forms input[type="tel"] {
    height: 30px;
    min-width: 0px;
    width: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 900;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px 10px 10px 10px;

    &:hover {
        scale: 1.05;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
    }

    &:focus {
        height: 35px;
        width: 500px;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.7);
    }

    &::placeholder {
        color: rgb(0, 0, 0);
    }

    &.dark {
        box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.7);
        background-color: rgb(78, 77, 77);
        color: whitesmoke;

        &:hover {
            box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.7);
        }

        &:focus {
            box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.7);
        }

        &::placeholder {
            color: rgb(245, 245, 245);
        }
    }
}

/*NAME*/
/*NAME*/

/*SURNAME*/
/*SURNAME*/

/*PASS*/

#message {
    display: none;
    background: whitesmoke;
    color: black;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    &.dark {
        background-color: rgba(86, 86, 86, 0.393);

    }
}

#message h3 {
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);

    &.dark {
        color: whitesmoke;
        text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.6);
    }
}

#message p {
    padding: 10px 35px;
    font-size: 23px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

/*PASS*/

/*REPPASS*/
/*REPPASS*/

/*COUNTRY*/
.autocomplete {
    position: relative;
    display: inline-block;
    margin: auto;
}

.autocomplete-items {
    position: relative;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    border: none;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    border-bottom: 1px solid #d4d4d4;
    border-radius: 25px;
    text-align: center;
    width: 250px;
    margin: auto;
    box-shadow: 0 0 10px rgba(67, 67, 67, 0.7);
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*COUNTRY*/

/*TEXT*/

/*IMG*/
fieldset.sign-img {
    margin: auto;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    height: 600px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    &.dark {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
}

legend.leg-sign-img {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);

    &.dark {
        color: whitesmoke;
        text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.6);
    }
}

.simg {
    position: relative;
    margin: auto;
    margin-top: 25px;
    height: 400px;
    width: 400px;
    padding: 40px;
    border-radius: 25px;
    border: none;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    &.dark {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        background-color: rgb(78, 77, 77);
    }
}

.sign-up img {
    height: 95%;
    width: 95%;
    border-radius: 25px;
    cursor: pointer;
}

input[type=file] {
    display: none;
}

/*IMG*/

/*TP*/
.tp-zone {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tp-zone input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-top: 29.5px;
    margin-right: 10px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);

    &:hover {
        scale: 1.05;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
    }

    &:focus {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.7);
    }

    &.dark {
        box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.7);
        background-color: rgb(78, 77, 77);
        color: whitesmoke;

        &:hover {
            box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.7);
        }

        &:focus {
            box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.7);
        }
    }
}

.tp-zone h3.tp-text {
    font-size: 25px;
    font-weight: 900;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);

    &.dark {
        color: whitesmoke;
        text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.6);
    }
}

.tp-zone h3.tp-text span.tp-ag {
    color: blue;
    text-decoration: underline;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

/*TP*/

/*SUB*/
button.sign-sub {
    height: 50px;
    width: 175px;
    border-radius: 25px;
    margin: auto;
    margin-top: 25px;
    font-size: 27px;
    font-weight: 900px;
    color: whitesmoke;
    background-color: rgb(207, 167, 74);
    border: solid 2px rgb(0, 0, 0);
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.7);

    &:hover {
        cursor: pointer;
        background-color: rgb(198, 160, 70);
        border: solid 3px rgb(0, 0, 0);
    }

    &:active {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
        transform: translateY(2px)
    }

    &.dark {
        background-color: rgb(207, 167, 74);
        border: solid 2px rgb(255, 255, 255);
        box-shadow: 0px 3px 5px 3px rgba(255, 255, 255, 0.7);

        &:hover {
            cursor: pointer;
            background-color: rgb(198, 160, 70);
            border: solid 3px rgb(255, 255, 255);
        }

        &:active {
            box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.7);
            transform: translateY(2px)
        }
    }
}

/*SUB*/

/*SIGN*/

/*FORMS*/

/*ERRORS*/
.error-message {
    color: rgb(255, 0, 0);
    font-size: 26px;
    text-align: center;
    position: relative;
    top: -25px;
    display: none;
}

.rep-pass-error-message {
    color: rgb(255, 0, 0);
    font-size: 26px;
    text-align: center;
    position: relative;
    top: -25px;
    display: none;
}

.country-error-message {
    color: rgb(255, 0, 0);
    font-size: 26px;
    text-align: center;
    position: relative;
    top: -3px;
    display: none;
}

.general-error-message {
    color: rgb(255, 0, 0);
    font-size: 26px;
    text-align: center;
    position: relative;
    top: 8px;
    display: none;
}

/*ERRORS*/

/*MAIN*/