html {
    scroll-behavior: smooth;
}

body {
    background-color: #BCA4E3;
    /* background-color: #4B0082; */
    font-family: 'Alegreya Sans SC';
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*HEADER*/
.header {
    background-color: #ffffff97;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    padding: 25px 25px;
    position: relative;
    top: 0;
    z-index: 99;
    margin-bottom: 60px;
}

/*HEADER-LOGO*/
.logo-header {
    position: relative;
    top: 0px;
    left: 40px;
    border-radius: 50%;
    background-color: #ffffffbb;
    animation: logo-inv 1850ms forwards;
}

@keyframes logo-inv {
    from {
        transform: translateX(-1000%) rotate(530deg);
        height: 100px;
        width: 100px;
        opacity: 0;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    30% {
        transform: translateX(-100%) rotate(270deg);
        opacity: 0.2;
    }

    70% {
        opacity: 0.8;
    }

    to {
        height: 150px;
        width: 150px;
        opacity: 1;
        box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.6);
        transform: rotate(0deg) translateX(0%);
    }
}

/*HEADER-LOGO*/

/*HEADER-TEXT*/
.text-header {
    position: relative;
    top: 13%;
    left: 396px;
    font-size: 30px;
}

.undertext-header {
    position: relative;
    top: 33%;
    left: 241px;
    font-size: 30px;
}

/*HEADER-TEXT*/

/*HEADER-ICO*/

.header a:not(#search) {
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border-radius: 15%;

    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    }
}

.header a#search {
    color: rgb(0, 0, 0);
    padding: 14px 30px;
    margin: 14px 30px;
    border-radius: 15%;
}

.header a#user {
    color: rgb(0, 0, 0);
    margin: 14px 27px;
    border-radius: 15%;
}

.navbar-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 25%;
    justify-content: space-between;
}

.nav {
    width: 24px;
    height: 24px;
}

.navbar-icons a {
    margin-left: 20px;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
}


/*USER*/
@keyframes user {
    from {
        transform: translateY(-1000%);
        opacity: 0;
        scale: 0.8;
    }

    55% {
        opacity: 0.3;
    }

    85% {
        transform: translateY(0%)
    }

    90% {
        scale: 0.90;
        opacity: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes biu {
    from {
        transform: translateY(1000%);
        opacity: 0;
        scale: 0.8;
    }

    55% {
        opacity: 0.3;
    }

    85% {
        transform: translateY(0%)
    }

    90% {
        scale: 0.90;
        opacity: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.user .ico1 {
    display: block;
    height: 25px;
    opacity: 0;
    animation: 700ms biu 1s forwards;
}

.user .user-av:nth-of-type(2) {
    display: none;
}

.user:hover .user-av:nth-of-type(1) {
    display: none;
}

.user:hover .user-av:nth-of-type(2) {
    animation: user 750ms;
    display: block;
}

.user:hover {
    cursor: pointer;
}

/*USER*/

/*SEARCH*/
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.search .ico2 {
    display: inline-block;
    height: 25px;
    opacity: 1;
}

.search .ico2:hover {
    animation: rotate360 1s;
    cursor: pointer;
}

.searcho {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.s-o-c {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.searcho .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;

    &:hover {
        color: #ccc;
    }
}

.searcho input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;

    &:hover {
        background: #f1f1f1;
    }
}

.searcho button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;

    &:hover {
        background: #bbb;
    }
}

button.sb {
    margin-left: 2px;
    max-height: 45px;
    max-width: fit-content;
    background-color: #b88e2f;
    color: white;
    font-weight: 600;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    border-width: 0;
}

button.sb:hover {
    transform: scale(1.05);
    background-color: #cfa74a;
    cursor: pointer;
}

fieldset.search-field {
    border: 0;
    border-radius: 15%;
    width: 35px;
    margin: 0 0 0 0;

    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    }
}

/*SEARCH*/

/*HEART*/
@keyframes heart-rate {
    from {
        opacity: 0;
        scale: 1;
    }

    15% {
        opacity: 0.2;
        scale: 1;
    }

    25% {
        opacity: 0.4;
        scale: 1;
    }

    40% {
        opacity: 0.5;
        scale: 1.3;
    }

    50% {
        opacity: 0.6;
        scale: 1;
    }

    65% {
        opacity: 0.7;
        scale: 1;
    }

    75% {
        opacity: 0.8;
        scale: 1;
    }

    85% {
        opacity: 0.9;
        scale: 1.3;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

.heart .ico3 {
    display: block;
    height: 25px;
    opacity: 0;
    animation: 400ms heart-rate 2000ms forwards;
}

.heart .heart-av:nth-of-type(2) {
    display: none;
}

.heart:hover .heart-av:nth-of-type(1) {
    display: none;
}

.heart:hover .heart-av:nth-of-type(2) {
    display: block;
}

.heart:hover {
    cursor: pointer;
}

/*HEART*/

/*CART*/
@keyframes combinedEffect {
    from {
        transform: translateX(2000%) skewX(-25deg);
        opacity: 0;
    }

    10% {
        opacity: 0.17;
    }

    20% {
        opacity: 0.34;
    }

    30% {
        opacity: 0.51;
    }

    40% {
        opacity: 0.68;
    }

    50% {
        opacity: 0.85;
    }

    60% {
        transform: skewX(15deg);
        opacity: 1;
    }

    80% {
        transform: translateX(0) skewX(-7deg) scale(-1, 1);
    }

    to {
        transform: translateX(0) scale(-1, 1);
        opacity: 1;
    }
}

.cart .ico4 {
    display: block;
    height: 25px;
    opacity: 0;
    animation: 1s combinedEffect 1750ms ease-out forwards;
}

/*CART*/

/*HEADER-ICO*/

/*HEADER*/

/*TO-TOP*/
.scroll-button {
    display: none;
}

.to-top .to-top-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: 0px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    height: 45px;
    width: 45px;
    /* background-color: rgba(166, 140, 105, 0.847); */
    background-color: rgba(167, 58, 165, 0.82);

    &:hover {
        background-color: rgba(202, 48, 200, 0.785);
    }
}

.to-top img.totop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 50%;
}

.to-top .to-top-button-av:nth-of-type(2) {
    display: none;
}

.to-top:hover .to-top-button-av:nth-of-type(1) {
    display: none;
}

.to-top:hover .to-top-button-av:nth-of-type(2) {
    display: block;
}

.to-top:hover {
    cursor: pointer;
}

img.totop {
    width: 14px;
    height: 34px;
    fill: currentColor;
    display: inline-block;
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0.7;
}

/*TO-TOP*/

div.main {
    margin-left: 20px;
    margin-right: 20px;
}

/*COLECTION-NAVIGATION*/
@keyframes cont {
    from {
        transform: translateX(-200%) rotate(-360deg);
        opacity: 0;
    }

    70% {
        transform: translateX(20%) rotate(30deg);
        opacity: 0.6;
    }

    to {
        transform: translateX(0%) rotate(0deg);
        opacity: 1;
    }
}

.container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 38px;
    top: -50px;
    z-index: 98;
    opacity: 0;
    animation: cont 1850ms forwards;
}

.container.act {
    position: sticky;
    left: 4%;
    top: 1%;
    z-index: 98;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/*DROP*/
.col-sel.act {
    position: sticky;
    top: -220px;
    z-index: 97;
}

fieldset.ch-col {
    width: 290px;
    max-height: max-content;
    border: none;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 98;
    background-color: #ffffff8a;
}

.choice {
    text-align: center;
    color: black;
    font-size: 30px;
}

fieldset.ch-col a {
    text-decoration: none;
    font-weight: 900;
    background: linear-gradient(-45deg, #6800b1 40%, #303030, #6800b1 70%) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 12px 16px;
    display: block;
    border-radius: 25px;

    &:hover {
        background-color: #8585851b
    }
}

fieldset.ch-col a.col1 {
    background: linear-gradient(165deg, #a51283 40%, #000000, #a51283 60%) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

fieldset.ch-col a.col2{
    background: linear-gradient(165deg, #29a0ea 40%, #000000, #29a0ea 60%) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

fieldset.ch-col a.col3 {
    background: linear-gradient(165deg, #b95d1b 40%, #000000, #b95d1b 60%) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.col-sel-cont {
    display: none;
    position: absolute;
    top: 270px;
    z-index: 98;
}

.show {
    display: block;
}

/*DROP*/

/*COLECTION-NAVIGATION*/

/*SHOP*/

.colection {
    padding-top: 10px;
    margin-bottom: 60px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff8a;
    box-shadow: 0 0 50px 0 rgba(100, 100, 100, 1);
}

.colection.a {
    background-image: url(../img/shop-poducts/Spring.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.colection.b {
    background-image: url(../img/shop-poducts/Summer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.colection.c {
    background-image: url(../img/shop-poducts/Autumn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

legend {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(165deg, #4B0082 40%, #000000, #4B0082 70%) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

legend.colection1-l {
    background: linear-gradient(165deg, #a51283 40%, #000000, #a51283 70%) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

legend.colection2-l {
    background: linear-gradient(165deg, #29a0ea 40%, #000000, #29a0ea 70%) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

legend.colection3-l {
    background: linear-gradient(165deg, #b95d1b 40%, #000000, #b95d1b 70%) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line1 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-between;
}

.line2 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    justify-content: space-between;
}

.line3 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    justify-content: space-between;
}

.line4 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    justify-content: space-between;
}

.line5 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    justify-content: space-between;
}

.line6 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    justify-content: space-between;
}

.line7 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    justify-content: space-between;
}

.line8 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    justify-content: space-between;
}

fieldset.product {
    height: 420px;
    width: 300px;
    border: none;
    border-radius: 25px;
    background-color: #ffffffab;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

img.i-product {
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 25px;
    position: relative;
    top: 5px;
    left: 15%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    cursor: pointer;

    &:hover {
        opacity: 0.85;
        scale: 1.05;
    }
}

/*MODAL-IMG*/

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 80%;
    border-radius: 25px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

    &:hover,
    &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}

/*MODAL-IMG*/

h5.description {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: default;
}

button.b-product {
    text-decoration: none;
    color: white;
    background-color: #b88e2f;
    height: 40px;
    width: 100px;
    position: relative;
    left: 33%;
    bottom: 15px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(184, 142, 47, 0.8);

    &:hover {
        transform: scale(1.05);
        background-color: #cfa74a;
        cursor: pointer;
    }
}

button.b-product.a {
    position: absolute;
    left: 16.3%;
    top: 94%;
}

button.b-product.b {
    position: absolute;
    left: 46.5%;
    top: 94%;
}

button.b-product.c {
    position: absolute;
    left: 76.5%;
    top: 94%;
}

button.b-product.d {
    position: absolute;
    left: 16.3%;
    top: 155.3%;
}

button.b-product.e {
    position: absolute;
    left: 46.5%;
    top: 155.3%;
}

button.b-product.f {
    position: absolute;
    left: 76.5%;
    top: 155.3%;
}




button.b-product.g {
    position: absolute;
    left: 16.3%;
    top: 232%;
}

button.b-product.h {
    position: absolute;
    left: 46.5%;
    top: 232%;
}

button.b-product.i {
    position: absolute;
    left: 76.5%;
    top: 232%;
}

button.b-product.j {
    position: absolute;
    left: 16.3%;
    top: 293.3%;
}

button.b-product.k {
    position: absolute;
    left: 46.5%;
    top: 293.3%;
}

button.b-product.l {
    position: absolute;
    left: 76.5%;
    top: 293.3%;
}




button.b-product.m {
    position: absolute;
    left: 16.3%;
    top: 370%;
}

button.b-product.n {
    position: absolute;
    left: 46.5%;
    top: 370%;
}

button.b-product.o {
    position: absolute;
    left: 76.5%;
    top: 370%;
}

button.b-product.p {
    position: absolute;
    left: 16.3%;
    top: 431%;
}

button.b-product.q {
    position: absolute;
    left: 46.5%;
    top: 431%;
}

button.b-product.r {
    position: absolute;
    left: 76.5%;
    top: 431%;
}

/*SHOP*/